*::-webkit-scrollbar {
  width: 15px;
  }
  
  *::-webkit-scrollbar-track {
      background: #24242c;
  }
  
  *::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 20px;
  border: 3px solid #24242c;
  }
  
  /*Definir fonte do site*/
  
  @font-face {
  font-family: "Hagrid-Medium";
  src: url("../fonts/Hagrid-medium.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
  }
  @font-face {
  font-family: "Hagrid-Regular";
  src: url("../fonts/Hagrid-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
  
  /*Definir configurações do body*/
  body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  }
  
  html{
  scroll-behavior: smooth;
  }
  
  
  /*Definir estilo do header*/
  header {
  width: 100%;
  height: 766px;
  background-image: url(../images/Banner/banner_topo_1500x766.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  /*Definir estilo do logo no header*/
  header img {
  width: 20%;
  max-width: 200px;
  margin: 32px;
  }
  
  /*Definir estilo do botão no header"orçamento"*/
  .btn {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 25px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 20px;
  font-family: "Hagrid-Medium", Helvetica;
  color: #000047;
  border-color: #33B0A4;
  background: #33B0A4;
  padding: 10px 15p;
  text-decoration: none;
  }
  
  .btn:hover {
  opacity: 0.8;
  background: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
  color: #000047;
  }
  
  /*Definir estilo da area para "projetos"*/
  
  section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  }
  
  section .bloco1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  }
  
  section .bloco1 h1 {
  margin: 60px 15px 15px 15px;
  font-family: "Hagrid-Medium", Helvetica;
  text-align: center;
  font-size: 90px;
  line-height: 70px;
  font-weight: bold;
  color:#2e2c2c;
  }
  
  section .bloco1 h2 {
  margin: 40px 15px 15px 15px;
  font-family: "Hagrid-Regular", Helvetica;
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  font-weight: normal;
  color:#2e2c2c;
  }
  
  section .bloco1 p {
  width: 50%;
  margin-top: 18px;
  font-family: "Hagrid-Regular", Helvetica;
  text-align: center;
  font-size: 24px;
  }
  
  /* Configurações dos PROJETOS*/
  
  
  .main-projeto{
  max-width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  }
      
  .main-projeto article{
  opacity: 1;
  flex-basis: calc(25% - 30px);
  max-height: 360px;
  margin:0;
  width:100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  }
      
  .main-projeto article:hover{
  opacity: 0.80;
  
  }
  
  .main-projeto article img{
  width:100%;
  height:360px;
  align-items: center;
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
  }
  
  /* Definir estilo da area para "Serviços" */

  .main-servicos{
    width: 100%;
    margin-top: 40px;
    background-color: #000047;
    display: flex;
    align-items: center;
  }

  .main-servicos h1{
    color:#FFF;
    margin: 60px 15px 15px 15px;
    font-family: "Hagrid-Regular", Helvetica;
    text-align: center;
    font-size: 80px;
    line-height: 90px;
        
  }

  hr{
    border-radius: 2px;
    
  }

  .main-servicos .image-servico1{
    width:20%;
    max-width: 300px;
    height: 250px;
    margin:30px;
    background-image: url(../images/Servicos/icon_motion_design_400x400.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s ease-out;

  }

  .main-servicos .image-servico1:hover{
    background-image: url(../images/Servicos/card_motion_470x322.png);
    max-width: 400px;
  }

  
  .main-servicos .image-servico2{
    width:30%;
    max-width: 300px;
    height: 250px;
    margin:30px;
    background-image: url(../images/Servicos/icon_redes_sociais_400x400.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s ease-out;
    margin-bottom: 60px;

  }

  .main-servicos .image-servico2:hover{
    background-image: url(../images/Servicos/card_redes_sociais_470x322.png);
    max-width: 400px;
  }

  
  /* Slideshow container2 */
  .slideshow-Container2 {
  max-width:100%;
  position: relative;
  margin:auto;
  }
  
  /* Make the images invisible by default */
  .Containers2 {
  display: none;
  margin-top:0px;
  
  }
  
  /* Faint animation */
  .fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
  }
  
  @keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
  }
  
  /*Definir estilo do rodape-formulario de contato*/
  
  footer{
  width: 100%;
  font-family: "Hagrid-Regular", Helvetica;
  background-color: #000047;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  }
  
  input::placeholder {
  color: black;
  }
  
  /*Definir estilo dos botoes de rede social*/
  
  footer .social{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
   
  }
  footer .social a{
    margin: 12px auto;
    width: 300px;
  }
  footer .social img{
    width:100%;
  }
  
  footer .social p{
  font-family:"Hagrid-Regular", Helvetica;
  font-size: 42px;
  line-height: 40px;
  color:#33B0A4;
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: center;
  }
  
  footer .s-m{
  position: relative;
  display: flex;
  align-items: center;
      
  }
  
  footer .s-m a{
  display: inline-flex;
  width: 74px;
  height: 74px;
  background: #000047;
  color: #FFF;
  margin: 0 3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 38px;
  text-decoration: none;
  }
  
  footer .s-m a:hover{
  background: #33B0A4;
  }
  
  footer .s-m a i{
  transition: 0.5s all;
  }
  
  footer .s-m a:hover > i {
  transform: scale(1.4) rotate(26deg);
  } 
  footer .checkbox a:hover{
    color: #33B0A4;
  } 
  
  /*Definir tamanho da  barra no formulario de contato*/
  footer img{
  margin:40px 10px 40px 10px;
  }
  
  footer .main-contato{
  width: 40%;
  margin: 0 auto;
  
  
  }
  
  footer .main-contato section .container{
  width:100%;
  
  }
  
  /* BREAKPOINTS */
  
  /*Definir estilo abaixo 600PX*/
  @media only screen and (max-width: 600px) {
  
      /*Definir estilo do header*/
      header {
      width: 100%;
      
      max-height: 250px;
      background-image: url(../images/Banner/banner_topo_400x230.png);
      justify-content: space-between;
      background-size: cover;
      }
  
      /*Definir estilo do logo no header*/
      header img {
      width: 30%;
      margin: 12px;
      }
  
      .btn {
      top: 14px;
      right: 10px;
      margin-right: 15px;
      border-radius: 28px;
      font-size: 10px;
      padding: 6px 6px 6px 6px;
      }
  
      /*Definir estilo da area para "projetos"*/
  
      section .bloco1 h1 {
      font-size: 30px;
      margin: 20px 15px 15px 15px;
      line-height: 25px;
      }
  
      section .bloco1 h2 {
      margin: 10px 15px 15px 15px;
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      }
  
      section .bloco1 p {
      margin: auto;
      width: 72%;
      text-align: center;
      font-size: 14px;
      letter-spacing: 1px;
      }
  
      .main-projeto article{
      flex-basis: calc(45% - 30px);
      max-height: 190px;
      margin:0;
      width:80%;
      align-items: center;
      }
  
      .main-projeto article img{
      width:100%;
      height:190px;
      }

      /* Definir estilo da area para "Serviços" */

      .main-servicos h1{
         margin: 15px 15px 15px 15px;
        font-size: 30px;
        line-height: 30px;
            
      }

      .main-servicos .image-servico1{
        width:20%;
        max-width: 300px;
        height: 90px;
        margin:8px;
   
      }
    
      .main-servicos .image-servico1:hover{
        width: 400px;
      }
    
      
      .main-servicos .image-servico2{
        width:20%;
        max-width: 300px;
        height: 90px;
        margin:8px;
        margin-bottom: 30px;
      }

      .main-servicos .image-servico2:hover{
        width: 400px;
      }

      hr{
        width:20%;
        margin:0;
        height: 2px;
      }
  
      /*Definir estilo do rodape-formulario de contato*/
  
      /*Definir estilo dos botoes de rede social*/
      footer{
          width: 100%;
      }
  
      footer .social{
      width: 50%;
      margin: 0 auto;
      }
  
      /*Definir tamanho da  barra no formulario de contato*/
      footer img{
      margin:40px 10px 40px 10px;
      }
  
      footer .main-contato{
      width: 80%;
      margin: 0 auto;
      }
  
      footer .main-contato section .container{
      width:100%;
      }

      footer .social a{
        margin: 12px auto;
        width: 200px;
      }
      footer .social img{
        width:100%;
      }

      footer .s-m a{
        display: inline-flex;
        width: 50px;
        height: 50px;
        background: #000047;
        color: #FFF;
        margin: 0 3px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        font-size: 38px;
        text-decoration: none;
        }
  }
  
  
  /*Definir estilo acima 600PX*/
  @media only screen and (min-width: 600px) {
      /*Definir estilo do header*/
      header{
      width: 100%;
      max-height: 600px;
      }
  
      /*Definir estilo do botão no header"orçamento"*/
      .btn{
      padding: 10px 14px;
      margin-right: 15px;
      }
      
      /*Definir estilo da area para "projetos"*/
  
      section .bloco1 h1 {
      font-size: 50px;
      line-height: 40px;
      margin: 40px 15px 15px 15px;
      }
  
      section .bloco1 h2 {
      margin: 10px 15px 15px 15px;
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      }
  
      section .bloco1 p {
      margin: auto;
      width: 58%;
      text-align: center;
      font-size: 14px;
      }
  
      /* Configurações do Projetos*/
  
      .main-projeto article{
      max-height: 290px;
      width:80%;
      }
  
      .main-projeto article img{
      width:100%;
      height:290px;
      }
  
      /*Definir estilo do rodape-formulario de contato*/
  
      footer .social{
      width: 50%;
      margin: 0 auto;
      }
      /* Definir estilo da area para "Serviços" */

      .main-servicos h1{
        margin: 15px 15px 15px 15px;
       font-size: 40px;
       line-height: 40px;
           
     }

     .main-servicos .image-servico1{
       width:20%;
       max-width: 350px;
       height: 120px;
       margin:8px;
  
     }
   
     .main-servicos .image-servico1:hover{
       width: 400px;
     }
   
     
     .main-servicos .image-servico2{
      width:20%;
      max-width: 350px;
      height: 120px;
      margin:8px;
      margin-bottom: 30px;
     }

     .main-servicos .image-servico2:hover{
       width: 400px;
     }
  }
  
  /*Definir estilo acima 1024PX*/
  
  @media only screen and (min-width: 1280px) {
    header{
      min-height: 766px;
      max-height: 900px;
    }
    section .bloco1 h1 {
    margin: 60px 15px 15px 15px;
    font-size: 90px;
    line-height: 70px;
    }
    
    section .bloco1 h2 {
    margin: 15px 15px 15px 15px;
    font-size: 70px;
    line-height: 70px;
    }
    
    section .bloco1 p {
    width: 50%;
    margin-top: 18px;
    font-size: 22px;
    }
    
    .main-servicos h1{
      color:#FFF;
      margin: 60px 15px 15px 15px;
      font-family: "Hagrid-Regular", Helvetica;
      text-align: center;
      font-size: 80px;
      line-height: 90px;
          
    }
    
    .main-servicos .image-servico1{
      width:20%;
      max-width: 300px;
      height: 250px;
      margin:30px;
    }

    .main-servicos .image-servico2{
      width:20%;
      max-width: 300px;
      height: 250px;
      margin:30px;
    }

  }
  
  
  
  